@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&subset=latin-ext");
* {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #232529;
}
a {
  color: #eee;
  text-decoration: underline;
}
a:hover {
  color: #a95d38;
}
a.router-link-exact-active {
  color: #a95d38;
}
h1 {
  margin-bottom: 60px;
}
h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
img {
  object-fit: contain;
  width: 100%;
  height: auto;
  object-position: center;
}
img.table-icon {
  width: 15px;
  margin: 0 5px;
  transition: 0.3s;
}
img.table-icon:hover {
  opacity: 0.5;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: inline-block;
  margin: 0 10px;
}
label {
  color: #a95d38;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  width: 100%;
  display: block;
}
input,
select {
  outline: none;
  border: none;
  background: transparent;
  margin: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  transition: 0.3s;
}
input:hover,
select:hover,
input:focus,
select:focus,
input:active,
select:active {
  border-bottom: 1px solid #a95d38;
}
input[type="checkbox"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 5px;
}
select option {
  color: #232529;
}
button {
  outline: none;
  border: none;
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 26px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
}
button:hover {
  background-color: #fff;
  color: #232529;
}
nav.sub-menu {
  padding-top: 10px;
}
table {
  width: 100%;
  margin-top: 30px;
}
table.hide {
  display: none;
}
table thead {
  background: #f2f2f2;
}
table tr {
  position: relative;
}
table tr td {
  padding: 10px;
}
table tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}
table tr:first-child {
  background-color: #a95d38;
}
span.show-scores {
  cursor: pointer;
}
span.show-scores:hover {
  color: #a95d38;
}
.section {
  margin-top: 25px;
}
.section__heading {
  position: relative;
  text-align: left;
}
.section__heading p {
  text-align: center;
}
.arrow {
  position: absolute;
  top: 0;
  font-size: 35px;
  line-height: 40px;
  font-weight: 100;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.arrow:hover {
  color: #a95d38;
}
.arrow-prev {
  left: 10px;
}
.arrow-next {
  right: 10px;
}
.arrow span {
  font-size: 11px;
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  margin-top: -2px;
}
.form {
  margin-top: 50px;
}
.form__element {
  margin-bottom: 20px;
}
.form__element:last-child {
  text-align: right;
}
.form__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.form__box .form__element {
  flex: 0 0 48%;
}
.form .err {
  color: red;
  font-size: 12px;
}
.app {
  text-align: center;
  margin: 0 auto;
  padding: 5vh 15vw;
}
.app__content {
  padding-top: 120px;
}
.app__nav {
  position: absolute;
  top: 20px;
  left: 50px;
}
.app__nav a {
  text-decoration: none;
}
.app__user {
  position: absolute;
  top: 20px;
  right: 50px;
}
.app__user span {
  color: #eee;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}
.app__user span:hover {
  color: #a95d38;
}
.boxes {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box {
  flex: 0 0 48%;
  text-align: center;
}
.box a {
  text-transform: uppercase;
  text-decoration: none !important;
  display: block;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 60px 20px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}
.box a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.box--small {
  flex: 0 0 32%;
  margin-bottom: 1%;
}
.box--small a {
  padding: 40px 15px;
}
.admin-panel > div {
  margin-top: 40px;
}
.section-results {
  margin-top: 60px;
}
.section-results__element {
  display: flex;
  width: 100%;
  justify-content: center;
}
.section-results__element > div {
  flex: 0 0 20%;
}
.td-results {
  width: 100%;
  position: absolute;
  background: #232529;
}
.multiselect__tags {
  min-height: 40px;
  padding: 8px 40px 0 8px;
  border-radius: 0;
  background: #fff;
  font-size: 14px;
  outline: none;
  border: none;
  background: transparent;
  margin: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.multiselect__content-wrapper {
  background: #232529;
}
.multiselect__input,
.multiselect__single {
  background: #232529;
}
.multiselect--above .multiselect__content-wrapper {
  border-radius: 0;
  border: 0px solid transparent;
}
.multiselect__option--selected {
  background: #a95d38;
  color: #fff;
}
.multiselect__tag {
  background: #a95d38;
}
.multiselect__tag-icon:after {
  color: #fff;
}
